<table class="table table-striped rounded table-hover" *ngIf="entradas.length > 0">
  <thead>
    <tr>
      <th>Clave</th>
      <th>No. entrada</th>
      <th>Referencia</th>
      <th>Fecha de registro</th>
      <th>Importe</th>
      <th>Estatus</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let entrada of entradas" (click)="onDetalleRowClick(entrada)">
      <td class="none">{{ entrada.clave }}</td>
      <td class="none">{{ entrada.noentrada }}</td>
      <td class="none">{{ entrada.referencia }}</td>
      <td class="none">{{ entrada.fecha }}</td>
      <td class="none">{{ entrada.importe }}</td>
      <td class="none">{{ entrada.estatus }}</td>
    </tr>
  </tbody>
</table>
